.logo-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  width: 100px;
}

.logo-img {
    width: 100px;
}

.logo-zoom {
  width: 100px;
  height: 100px;
  animation: zoomIn 0.6s ease-in-out forwards;
}

@keyframes zoomIn {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(4);
    opacity: 0;
  }
}

.gif-logo {
  width: 100px;
  height: 100px;
  object-fit: cover;
   transform: scale(1.8);
}